<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="Video Quality">
    <setting id="480p" type="bool" label="32000" default="false"/>
    <setting id="720p" type="bool" label="32001" defaul="true" />
    <setting id="1080p" type="bool" label="32002" default="true"  />
  </category>
</settings>
